---
layout: default
image: /images/fulls/01.jpg
---

<section id="one">
    <header class="major">
      <h2>About Me 关于我</h2>
    </header>
    <p>
      <font size="4px">
      <br>Trained in NOIP Algorithm competition, educated in Financial Engineering and Financial Mathematics, and with the practice in modeling and programming, I am experienced in addressing complicated quantitative financial issues through rational mathematical analysis, logical computer programming, and quantitative modeling.

At the same time, I got good communication and leadership skills from competition experience and project. Also, with years of investment experience in stocks and other assets. I am familiar with the market, strategy and myself. Further info can be found in my <a href="/resources/Yunnan Tao.pdf" target="_blank">Curriculum Vitae</a> (Updated November 2019).
      <br/>
      <br>基于扎实的金融背景和计算机模型编程的实战，对于金融问题，能够通过数理分析，量化建模和熟练编程处理解决，有一定的经验和能力。优势是金融与计算机的并重发展，能够优异完成两学科交叉任务。同时多次参加团队竞赛，有很好的协作沟通和一定的领导能力。更多信息您可以参考我的 <a href="/resources/陶韵南.pdf" target="_blank">简历</a> (最近更新2019年6月)。
      </font>
    </p>

  </section>

<section>
<header class="major">
      <h1>Blog 博客</h1>
      <h4>Relying on the sword touching the cloud, watching things on the ground. <br>
          倚垂云之剑，睹天地方圆。<br>
      </h4>
</header>
<br>

<br>
<!-- This loops through the paginated posts -->
{% for post in paginator.posts %}
    <h2><a href="{{ post.url | prepend: site.github.url }}">{{ post.title }}</a></h2>
    <p>
      <span><i class="fa fa-calendar"></i> {{ post.date | date: "%d %B %Y" }}{% if post.categories %} on <i class="fa fa-tags"></i> {{ post.categories | join: ', ' }}{% endif %}</span>
    </p>

    <div>
      {{ post.excerpt }}
    </div>
    <HR style="border:1 dashed #987cb9" width="100%" color=#987cb9 SIZE=1>
{% endfor %}
</section>


{% if paginator.total_pages > 1 %}
<!-- Pagination links -->
<section>
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}">Previous</a>
  {% endif %}
  <span>Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}">Next</a>
  {% endif %}
</section>
{% endif %}
