---
layout: default
image: /images/fulls/01.jpg
---

<section id="one">
    <header class="major">
      <h2><font size="6px">About Me</font></h2>
    </header>
    <p>
      <font size="4px">
      I am <b>Xuefeng Hu</b>, a PhD student at
      <a href="https://www.cs.usc.edu/" target="_blank"><span class="label">Computer Science Department</span></a>
      @
      <a href="https://www.usc.edu/" target="_blank"><span class="label">University of South California.</span></a> advised by <a href="http://iris.usc.edu/people/nevatia/" target="_blank"><span class="label">Prof. Ram Nevatia</span></a>.
      <br> 
      My current research interests include Computer Vision, Multi Modality Learning and Automatic Story Comprehension.
      <br> 
      I obtained my B.S. degrees at both 
      <a href="https://www.umich.edu/" target="_blank"><span class="label">University of Michigan, Ann Arbor</span></a> and 
      <a href="http://en.sjtu.edu.cn/" target="_blank"><span class="label">Shanghai Jiao Tong University</span></a>, and a M.S. degree at 
      <a href="https://www.columbia.edu/" target="_blank"><span class="label">Columbia University in the city of New York</span></a>
      . I worked as a graduated student researcher with 
      <a href="http://www.ee.columbia.edu/~sfchang/" target="_blank"><span class="label">Prof. Shih-Fu Chang</span></a> and 
      <a href="http://www.sveborkaraman.com/" target="_blank"><span class="label">Dr. Svebor Karaman</span></a> in the 
      <a href="http://www.ee.columbia.edu/ln/dvmm/" target="_blank"><span class="label">DVMM Lab</span></a> during my time at Columbia.
      <br>
      Further info can be found in my <a href="/resources/XuefengHuCV.pdf" target="_blank">Curriculum Vitae</a> (Updated December 2017).
      </font>
    </p>
    <h2><a href="/sections/Projects.html">Projects</a></h2>
    <h2><a href="/sections/Publications.html">Publications</a></h2>
    <h2><a href="/sections/MoreFacts.html">Miscellaneous</a></h2>
  </section>
  <section></section>


<!-- This loops through the paginated posts -->
{% for post in paginator.posts %}
  <section>
    <h2><a href="{{ post.url | prepend: site.github.url }}">{{ post.title }}</a></h2>
    <p>
      <span><i class="fa fa-calendar"></i> {{ post.date | date: "%d %B %Y" }}{% if post.categories %} on <i class="fa fa-tags"></i> {{ post.categories | join: ', ' }}{% endif %}</span>
    </p>

    <div>
      {{ post.excerpt }}
    </div>
  </section>
{% endfor %}

{% if paginator.total_pages > 1 %}
<!-- Pagination links -->
<section>
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}">Previous</a>
  {% endif %}
  <span>Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}">Next</a>
  {% endif %}
</section>
{% endif %}
