---
layout: default
image: /images/fulls/01.jpg
---

<section id="one">
    <header class="major">
      <h2>About Me</h2>
    </header>
    <p>
      <font size="4px">
      I am <b>Yunnan Tao</b>,
      <br>With the education background in financial Engineering and the practice in modeling and programming, I am familiar and experienced in the process of addressing complicated financial issues through rational mathematical analysis, logical computer programming, and quantitative modeling.<br>
      Further info can be found in my <a href="/resources/Yunnan Tao.pdf" target="_blank">Curriculum Vitae</a> (Updated December 2018).
      </font>
    </p>

  </section>

<section>
<header class="major">
      <h1>Blog</h1>
      <h4>As you set out for Ithaka, hope the voyage is a long one. <br>
      <a href="http://www.cavafy.com/poems/content.asp?id=74">[<I>Ithaka</I>, C.P. Cavafy]</a></h4>
</header>
<br>

<br>
<!-- This loops through the paginated posts -->
{% for post in paginator.posts %}
    <h2><a href="{{ post.url | prepend: site.github.url }}">{{ post.title }}</a></h2>
    <p>
      <span><i class="fa fa-calendar"></i> {{ post.date | date: "%d %B %Y" }}{% if post.categories %} on <i class="fa fa-tags"></i> {{ post.categories | join: ', ' }}{% endif %}</span>
    </p>

    <div>
      {{ post.excerpt }}
    </div>
    <HR style="border:1 dashed #987cb9" width="100%" color=#987cb9 SIZE=1>
{% endfor %}
</section>


{% if paginator.total_pages > 1 %}
<!-- Pagination links -->
<section>
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}">Previous</a>
  {% endif %}
  <span>Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}">Next</a>
  {% endif %}
</section>
{% endif %}
