<!-- Header -->
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?cb96ad07518c634f725aa6dd8e13bec4";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>

  <header id="header">
    <a href="{{ site.github.url }}/" class="image avatar"><img src="{{ site.github.url }}/images/avatar.jpg" alt="" /></a>
    <h1>
    	<b>Yunnan Tao 陶韵南</b>
    </h1>
    <h1>
Always do the right things to make a positive overall expectation, regardless of an immediate loss.

    </h1>

  </header>
