<link rel="stylesheet" href="{{ site.github.url }}/assets/css/magnific.css">
<link rel="stylesheet" href="{{ site.github.url }}/assets/css/style.css">
<div class="container">
	<div id="instafeed" class="row gallery"></div>
</div>
<script src="{{ site.github.url }}/assets/js/jquery.min.js"></script>
<script src="{{ site.github.url }}/assets/js/instafeed.min.js"></script>
<script src="{{ site.github.url }}/assets/js/magnific.min.js"></script>
<script src="{{ site.github.url }}/assets/js/custom.js"></script>

